<div class="div">
  <!-- img of background -->
  <img class="w-100 h-100 img-index position-absolute" [src]="imgPrefix + this.allMovies.poster_path" alt="">
</div>
<div class="container h-75 position-relative">
  <div class="row mt-5">
    <!-- img of movie -->
    <div class="col-md-6">
      <img class="w-100" [src]="imgPrefix + this.allMovies.poster_path" alt="">
    </div>
    <!-- details of movie by id -->
    <div class="d-flex flex-column justify-content-center offset-md-1 col-md-5 position-relative">
      <h1 class="my-2" >Name: <span class="color">{{this.allMovies.original_title}}</span></h1>
      <h5>Release_Date: {{this.allMovies.release_date}}</h5>
      <p class="text-secondary my-2"> {{this.allMovies.overview}}</p>
      <div class="d-flex my-4 justify-content-center" ><span class="fw-bolder fs-4">Genres: </span><p class="text-danger fw-bolder fs-4 mx-3" *ngFor="let i of allMovies.genres "> {{i.name}}</p></div>
      <h3 class="position-absolute bottom-0 end-0 text-danger">Vote: {{this.allMovies.vote_average}}</h3>
    </div>
  </div>
</div>
